<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Category List</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div>
        <h1>Categories</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.categoryid}"></td>
                    <td th:text="${category.name}"></td>
                </tr>
            </tbody>
        </table>

        <a href="/addcategory" class="btn btn-success">Add Category</a>
        <a href="/booklist" class="btn btn-secondary">Back to Book List</a>
    </div>
</body>

</html>